/* Rating-Reviews */
.rating-container {
  margin-right: 50px;
}
.body {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 50px;
  display: flex;
}
/* Rating-Average-Stars-style */
.rating-average {
  font-size: 100px;
  font-weight: bold;
  font-family: system-ui;
  margin-top: 1rem;
}
.rating-star-container {
  display: flex;
  margin-top: 1rem;
}
.rating-div {
  font-size: 17px !important;
}
.rating-stars {
  margin-top: -8px;
  margin-left: 9px;
}

/* Score bar style */
.scorebars {
  margin-top: 50px;
}
.scorebars-title {
  font-family: "Shippori Mincho", serif;
  font-size: 12px;
}
.rc-progress-line {
  max-height: 0.5em;
  min-height: 0.5em;
  max-width: 15em;
  min-width: none;
}
.bar-title {
  max-width: 3em;
  min-height: 0.5em;
  margin-right: 10px;
  text-decoration: underline;
}

.oneBar {
  max-width: 15em;
  min-width: 15em;
}
.progressBar {
  display: flex !important;
  margin-top: 10px;
}
/* reviews */
.top-review {
  display: flex;
  border-color: #0f1111;
  color: #0f1111;
  display: inline;
  font-size: 16px;
  font-weight: 900;
}
.reviews-tile {
  margin-top: 50px;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.stars-user {
  display: flex;
}
.user-name {
  margin-left: 200px;
}
.summary {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 1000;
}
.review-body {
  font-size: 13px;
  margin-top: 10px;
}
.tile-container {
  max-width: 38em;
}
.response-countainer {
  margin-left: 20px;
  margin-top: 20px;
}
.response {
  font-weight: 1000;
}
.user-response {
  margin-top: 10px;
}
.recommend-product {
  margin-top: 10px;
}
.helpful-div {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 11px;
  font-weight: 100;
}
.yes-ancer {
  text-decoration: underline;

  color: black;
}
.report-ancer {
  text-decoration: underline;
  color: black;
}
.yes-div {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  max-height: 15px;
  min-height: 15px;
}
.helpul-number {
  margin-right: 10px;
}
/* button-container-part*/
.button-container {
  display: flex;
  margin-top: 30px;
}

.more-reviews-button {
  padding: 17px 17px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}
.add-reviews {
  padding: 17px 30px;
  font-size: 14px;
  font-weight: 700;
}
.fa {
  margin-left: 15px;
  font-weight: 200 !important;
  font-size: 15px;
}
